
<section>
 <center>
<div style="text-align:center" onmouseover="Play()" onmouseout="Pause()"> 
    <script src="functions.js"></script>
    <video loop = "loop" id= "video" width="500" height="500" preload="metadata">
       <source src="/assets/img/Yoga.mp4" type="video/mp4">
      </video>
<div style="text-align:center" onmouseover="Play()" onmouseout="Pause()"> 
    <video autoplay loop = "loop" id= "video1" width="500" height="500" preload="metadata">
    <source src="/assets/img/test.mp4" type="video/mp4">
</section>
      </div>
    </div>
  </div>
<script>
  function SwapMP4forWEBM(content){
  if(jQuery.browser.chrome || jQuery.browser.mozilla){
    content.find("video").each(function(){
      $(this).find("source").attr("src", $(this).find("source").attr("src").replace(".mp4", ".webm"))
      $(this).find("source").attr("type", $(this).find("source").attr("type").replace("mp4", "webm"))
    })
  }
  return content.html()
}
</script>

<script type="text/javascript"> 
var vid = document.getElementsByTagName("video");
[].forEach.call(vid, function (item) {
    item.addEventListener('mouseover', hoverVideo, false);
    item.addEventListener('mouseout', hideVideo, false);
});

function hoverVideo(e)
{   
    this.play();
}
function hideVideo(e)
{
    this.pause();
}  
    
</script> 
</section>