<section>

  <h3 id="videos">Our Videos</h3>
  <center>

  <video autoplay="autoplay" loop = "loop" id = "video-bg"  width="768" height="432">
    <source src="/assets/img/Yoga.mp4" type="video/mp4">
</video>
   <video autoplay="autoplay" loop = "loop" id = "video-bg1"  width="768" height="432">
    <source src="/assets/img/test.mp4" type="video/mp4">
</video>

</video>
</center>
</section>
<section>
  <video autoplay="autoplay" loop = "loop" id = "video-bg2"  width="768" height="432">
    <source src="/assets/img/hammock.mp4" type="video/mp4">
</video>
  </section>
